.spinContainer {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin-top: 25px;
  animation: spinner 2s infinite linear;
  color: rgb(167, 128, 128);
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
